page-chores {

 ion-content {

    .bottom-bar {
        background-color: map-get($colors, primary );
        text-align: center;
    }

    .border-right {
        border-right: 1px solid map-get($colors, dark-primary)
    }

    .cal-icon {
        padding-right: 1vw;
    }

    .scroll-content {
         background-color: map-get($colors, primary )
    }

    .rowStyle{

        ion-input {
                margin-top: 5px;
        }

        .icon {
            margin-top: 5px;
        }

    }

    .round-corners {
        border-radius: 24px;
    }


 



 } // end of ion-content

}
