page-chores {

 ion-content {

    .bottom-bar {
        background-color: map-get($colors, dark-primary );
        text-align: center;
    }

    .scroll-content {
         background-color: map-get($colors, primary )
    }
     
    // .item {
    //     background-color: map-get($colors, primary )
    // }

    .rowStyle{

        ion-input {
                margin-top: 5px;
        }

        .icon {
            margin-top: 5px;
        }

    }

    .round-corners {
        border-radius: 24px;
        color: red;
    }


 



 } // end of ion-content

}
