page-chores {

 ion-content {
     .scroll-content {
         background-color: map-get($colors, primary )
     }
     
     .item {
        background-color: map-get($colors, primary )
    }


    .addButton {
        font-size: 6vw;
        margin-top: 2vw;
        margin-right: 1vw;
    }

 }

}
